<!-- <div class="container"> -->

<div class="urb-title-area-container-with-button">
<h2><%= @form_title %></h2>
<%= button_to "Add a new farm", new_farm_path, method: :get, class: @form_myflat ? "btn btn-primary" : "hidden" %>
</div>

<div class="urb-form-container" <%= @form_myflat ? "hidden" : "visible" %>>
  <%= form_tag farms_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Farm!"
    %>
  <% end %>
</div>
  <div class="main-container">
    <%= render 'shared/cards', class: "cards" %>
      <div
        id="map"
        style="width: 100%, border-radius: 15px;
        margin-top: 14px;
        margin-right: 30px;
        height: 600px;"

        data-markers="<%= @markers.to_json %>"
      >
    </div>
  </div>






