
<%= render 'components/show-banner'%>


<div class="urb-title-area-container">
<h3><%= @farm.name %></h3>
<div/>

<div class="urb-main-area-container-container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="farm-title">
          <%= image_tag('avatar-placeholder.png', class: "avatar-large")%>
        </div>
        <p> <%= @farm.address %> <%= @farm.country %></p>
        <p><%= @farm.price %> USD</p>
        <p><%= @farm.description %></p>
      </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h3> Book now ! </h3>
        <%= render 'bookings/form' %>
      </div>
    </div>

 </div>
