
<%= render 'components/show-banner'%>


<div class="container">

    <div class="row">
      <div class="col-md-8">
        <h3><%= @farm.name %><%= image_tag('avatar-placeholder.png', class: "avatar-large")%></h3>
        <p> <%= @farm.address %> <%= @farm.country %></p>
        <p><%= @farm.price %> USD</p>
        <p><%= @farm.description %></p>
      </div>


      <div class="col-md-4">
        <h3> Booking </h3>
        <%= render 'bookings/form' %>
      </div>
  </div>
</div>
