
 <div class="cards-container">
   <div class="row">

    <%  @farms.each do |farm| %>
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path farm.photo, height: 300, width: 400, crop: :fill %>');">
         <div class="card-category"><%= farm.description %>
         </div>
          <div class="card-description">
          <h2><%=farm.name%></h2>
          <p>$<%=farm.price%>per night</p>
          <% if farm.reviews.count != 0 %>
          <% farm.average_rating.times do %>
          <i class="far fa-star"></i>
          <% end %>
          <% else %>
          <%= "" %>
      <% end %>
          </div>
          <a class="card-link" href="#" ></a>
          <%= link_to "", farm_path(farm), :class=> "card-link" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
