

<div class="bookings">
  <% @booking_owner.each do |booking| %>

  <div class="booking" id=<%= "booking#{booking.id}"%>>
    <%= image_tag('avatar-placeholder.png', class: "avatar-large") %>
    <div class="booking-name">
      <h3><%=  booking.user.email%></h3>
    </div>
    <div class="booking-body">
      <p><strong><%= "Booking from #{booking.start_date} to #{booking.end_date}"%></strong></p>
      <p><%= "#{booking.farm.name} (#{booking.farm.address}, #{booking.farm.country}) " %></p>
    </div>

    <div class="booking-status">
     <%status_erb = booking.status%>

     <p id= <%= "statusBooking#{booking.id}"%> class="<%= "status #{status_erb.downcase}" %>"><%= status_erb %></p>

     <p class="price"><%= booking.total_price %> USD</p>
   </div>
   <div class="booking-feedback<%=booking.id%> <%= booking.status == "Pending" ? "" : "hidden"  %>">
     <%= link_to "Approved", dashboard_approve_path(booking.id), method: :patch, remote: true, class: "btn btn-primary btn-feedback btn-sm" %>
     <%= link_to "Declined", dashboard_decline_path(booking.id), method: :patch, remote: true, class: "btn btn-danger btn-feedback btn-sm" %>
   </div>
 </div>

 <% end %>

</div>
