<div class="bookings">
  <% @booking_guest.each do |booking| %>

  <div class="booking">
    <%= image_tag('farm-placeholder.jpeg', class: "img-small") %>
    <div class="booking-body">
      <p><strong><%= "Booking from #{booking.start_date} to #{booking.end_date}"%></strong></p>
      <p><%= "#{booking.farm.name} (#{booking.farm.location}, #{booking.farm.country}) " %></p>
    </div>
    <div class="booking-status">
      <p class="status pending">Pending</p>
      <p class="price"><%= booking.total_price %> USD</p>
    </div>
    <div class="booking-review">
      <p class="review-rating"><i class="far fa-star"></i></p>
      <p class="review-link">Show my review </p>
      <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
    </div>
  </div>


<!-- Large modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#largeModal">Large modal</button>

<div id="largeModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Large Modal</h4>
            </div>
            <div class="modal-body">
                <p>Add the <code>.modal-lg</code> class on <code>.modal-dialog</code> to create this large modal.</p>
                <%= render 'dashboard/tabs/form', booking: booking %>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>


 <% end %>

</div>
