<div class="bookings">
  <% @booking_guest.each do |booking| %>

  <div class="booking" id="booking<%= booking.id%>">
    <%= cl_image_tag(booking.farm.photo, class: "img-small") %>
    <div class="booking-body">
      <p><strong><%= "Booking from #{booking.start_date} to #{booking.end_date}"%></strong></p>
      <p><%= "#{booking.farm.name} (#{booking.farm.location}, #{booking.farm.country}) " %></p>
    </div>
    <div class="booking-status">
      <%status_erb = booking.status%>

      <p class="<%= "status #{status_erb.downcase}" %>"><%= status_erb %></p>
      <p class="price"><%= booking.total_price %> USD</p>
    </div>
    <div class="booking-review">

      <p class="review-rating">
        <% booking.rating.times do %>
        <i class="far fa-star"></i>
        <% end %>
      </p>
      <%= link_to "review", dashboard_review_path(booking.id), remote: true, method: :patch, class: "btn btn-primary"  %>
    </div>

  </div>

  <% end %>
</div>


<!-- Modal HTML -->
<div id="myModal" class="modal fade " tabindex="-1">

</div>
